// COMMON
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&display=swap");
// font-family: 'Hi Melody', cursive;
// font-family: 'Nanum Pen Script', cursive;
.App {
  font-size: 25px;
}
.inner {
  position: relative;
  width: 80%;
  text-align: center;
  right: 0;
  left: 0;
  margin: 0 auto;
}

// HEADER

.Header {
  .inner {
    height: 170px;
    display: flex;
    // justify-content: center;
    align-content: center;
    .title {
      font-size: 40px;
      cursor: pointer;
      // display: inline-block;
      display: block;
      width: 200px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-content: center;
      top: 0;
      bottom: 0;
      margin: auto;
      font-family: "Nanum Pen Script", cursive;
    }
    .btn {
      position: absolute;
      top: 90px;
      right: 8%;
      cursor: pointer;
    }
  }
}

// WriteNew
.WriteNew {
  text-align: center;
  .board {
    min-height: 500px;
    width: 100%;
    resize: vertical;
    border-radius: 5px;
    background-color: #ececec;
    border: 1px solid #d3bfbf;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Hi Melody", cursive;
  }
  section {
    .btn {
      display: block;
      position: absolute;
      margin-top: 30px;
      right: 30px;
    }
  }
}

// CONTENT
.Content {
  display: flex;
  justify-content: space-around;
  .inner {
    display: flex;
    flex-wrap: wrap;
  }
  .ContentItem {
    flex-grow: 1;
    min-width: 32%;
    min-height: 300px;
    margin-bottom: 20px;
    margin-left: 1%;
    border: 1px solid #eeeaea;
    border-radius: 7px;
    background-color: #ececec;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: #cac2c2ce;
      transition: 1s;
    }
    .ID,
    .date {
      text-align: center;
      margin-bottom: 5px;
    }
    .date {
      margin-bottom: 10px;
    }
    .content {
      font-family: "Hi Melody", cursive;
      font-size: 25px;
    }
    .btn {
      position: absolute;
      right: 20px;
      bottom: 20px;
      z-index: 2;
    }
  }
}
.ContentEach {
  .inner {
    font-family: "Hi Melody", cursive;
    font-size: 25px;
    background-color: #ececec;
    text-align: center;
    min-height: 800px;
    padding: 20px;
  }
}
